body{
    font-family: Arial;
}

div.skin pre
{
    font-size: 14px;
}

table.terminal {
    border: 0;
}

td.left, td.right
{
    width: 2px;
}


td.top, td.bottom
{
    height: 2px;
    font-size: 2px;
}

/* Editor UI */

button#btn-apply, select#skins{
    font-size: 20px;
}

.pale{
    color: #bbb;
}

.mt-1{margin-top: 5px;}
.mt-2{margin-top: 10px;}
.mb-1{margin-bottom: 5px;}
.mb-2{margin-bottom: 10px;}
.mr-1{margin-right: 5px;}
.mr-2{margin-right: 10px;}
.ml-1{margin-left: 5px;}
.ml-2{margin-left: 10px;}